.header {
    color: white;
    margin-left: 15px;
    display: flex;
    align-items: center;
  }

 .header-components{
  display: flex;
  align-items: baseline;
  gap: 0.50em
 } 

  .header a{
    text-decoration: none;
  }

.header h3{
  margin-left: 2px;
  color: aqua;
  font-size: 30px;
}

.header h6{
  color: white;
  font-size: 18px;
}