body {
    background-color: #282c34;
    font-family: Sans-Serif;
    margin: 0px;
}

  .row{ 
    display: flex;
    flex-wrap: wrap;
  }

  .col{
    flex-wrap: wrap;
  }

  .col-md-3{
    width: 33.33333%;
  }

  .col-md-6{
    width: 50%;
  }

  .col-md-9{
    width: 66.6667;
  }

